@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background: #F5DCB4;
    min-height: 100vh;
    position: relative;
}

nav {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
    font-weight: bold;
}

footer {
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 1px 6px rgba(0, 0, 0, 0.23);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title2 {
    font-size: 32px;
    font-weight: bold;
}

.descp {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}