<div class="container mt-3">

    <h2 class="title2 text-center">¿Qué deseas realizar?</h2>
    <p class="descp text-center"> Elije entre las diferentes actividades que tenemos para ti! No olvides registrarte</p>
    <hr>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard4.1.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Disfraces</h3>
                    <p class="card-text">En esta sección puedes ver la lista de todos los difraces con los que cuenta la tienda</p>
                    <a [routerLink]="['/costumes']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Clientes</h3>
                    <p class="card-text">En esta sección encuentras la lista de todos los clientes de la tienda</p>
                    <a [routerLink]="['/clients']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Mensajes</h3>
                    <p class="card-text">Aquí encuentras toda la lista de los mensajes con los que cuenta la tienda</p>
                    <a [routerLink]="['/messages']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard7.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Categorias</h3>
                    <p class="card-text">En esta sección se encuentra la lista de categorias y creación de nuevas categorias</p>
                    <a [routerLink]="['/categories']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard8.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Reservas</h3>
                    <p class="card-text">En esta sección se encuentra la lista de reservas y creación de nuevas reservas</p>
                    <a [routerLink]="['/reservation']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card text-center">
                <img src="../assets/bgcard9.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title">Lista de Administradores</h3>
                    <p class="card-text">sección se encuentra la lista de administradores y creación de nuevos administradores</p>
                    <a [routerLink]="['/admins']" class="btn btn-primary">Continuar</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>